.DS_Store

# Rust build artifacts
target
crates/**/target
benches/**/target
tools/**/target
**/*.rs.bk
rustc-ice-*.txt

# Cargo
Cargo.lock
.cargo/config
.cargo/config.toml

# Bevy Assets
assets/**/*.meta
crates/bevy_asset/imported_assets
imported_assets
.web-asset-cache
