.wordcloud {
  animation: 30s cubic-bezier(.5, 0, .5, 1.2) 1s infinite wallpaper__colorcycle;
  background-color: var(--wallpaper-color);
}

.wordcloud__react{
  padding: 120px 120px 120px 120px;
}

:root {
  --wallpaper-color: #f92672;
}

@keyframes wallpaper__colorcycle {
  0%   { --wallpaper-color: #f92672; }
  33%  { --wallpaper-color: #1ed760; }
  66%  { --wallpaper-color: #03a9f4; }
  100% { --wallpaper-color: #f92672; }
}
