.wordcloud {
  animation: 30s cubic-bezier(.5, 0, .5, 1.2) 1s infinite wordcloud__colorcycle;
  background-color: var(--wordcloud-color);
}

.wordcloud__react{
  padding: 180px 180px 180px 180px;
}

:root {
  --wordcloud-color: #f92672;
}

@keyframes wordcloud__colorcycle {
  0%   { --wordcloud-color: #f92672; }
  33%  { --wordcloud-color: #1ed760; }
  66%  { --wordcloud-color: #03a9f4; }
  100% { --wordcloud-color: #f92672; }
}
