.av__recommendedVideos {
  flex: 0.8;
  background-color: #f9f9f9;
  padding-bottom: 0;
  padding: 10px 20px;
  font-family: "Noto Sans";
}

.av__recommendedVideos > h2 {
  font-size: 1.2em !important; /* bootstrap fixes */
  font-weight: bold; /* bootstrap fixes */
  margin-left: 5px;
  margin-bottom: 20px;
}

.av__recommendedVideosFilter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: xx-small !important;
}

.av__recommendedVideosFilter > h2 {
  margin-left: 10px;
}

.av__videoCards {
  display: flex;
  flex-wrap: wrap;
}

.av__videoCards--center {
  justify-content: center;
}
