.av__sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-family: "Noto Sans";
}

.av__sidebarRowIcon {
  color: #606060;
  font-size: large !important;
}

.av__sidebarRowTitle {
  flex: 1;
  margin-left: 20px;
  font-size: 12px;
  font-weight: 500;
}

.av__sidebarRow:hover {
  background-color: lightgray;
  cursor: pointer;
}

.av__sidebarRow.selected {
  background-color: lightgray;
}

.av__sidebarRow:hover > .av__sidebarRowIcon {
  color: red;
}

.av__sidebarRow.selected > .av__sidebarRowIcon {
  color: red;
}

.av__sidebarRow.selected > .av__sidebarRowTitle {
  font-weight: bold;
}

.av__sidebarRow:hover > .av__sidebarRowTitle {
  font-weight: bold;
}
