.mail__sendMail {
  /* position: absolute; */
  bottom: 0;
  right: 50px;
  background-color: #404040;
  width: 40%;
  height: 60%;
  max-width: 500px;
  max-height: 400px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
}

.mail__sendMailHeader {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.mail__sendMailHeader > h3 {
  color: whitesmoke;
  font-size: 13px;
}

.mail__sendMailSend {
  background-color: #3079ed !important;
  text-transform: capitalize !important;
  margin: 15px !important;
}

.mail__sendMailClose {
  cursor: pointer;
}

.mail__sendMail > form {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mail__sendMail > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}

.mail__sendMailMessage {
  flex: 1;
}
