.subtitles-overlay {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 12px 0;
  /* padding-top: 12px; */
  /* width: 100%; */
  min-width: 500px;
  height: 180px;
  justify-content: space-around;
  border-radius: 15px;
}

.subtitles {
  font-family: 'Noto Sans', 'Noto Sans Arabic Medium';
  font-size: calc(180px * 0.12);
  text-align: center;
  /* padding-bottom: 34px; */
  text-shadow: 1px 1px 2px #b99157;
  animation: subtitles__colorcycle 20s infinite;
}

@keyframes subtitles__colorcycle {
  from {color: #1ed760; text-shadow: 1px 1px 2px #1ed760;}
  to {color: #1ad2fb; text-shadow: 1px 1px 2px #1ad2fb;}
}

.subtitles:hover {
  cursor: pointer;
}

.subtitles__notification {
  position: absolute;
  top: 0px;
  right: 0px;
}

.notification {
  display: flex;
  align-items: center;
}

.notification > p {
  padding-left: 5px;
}

.Toastify__toast-container--top-right {
  top: 0.6em !important;
  right: 0.6em !important;
}
